# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Logs
logs/
*.log

# IDE / Editor
.idea/
.vscode/

# Django
db.sqlite3
staticfiles/
media/

# OS
.DS_Store
Thumbs.db

BioSentVec_PubMed_MIMICIII-bigram_d700.bin
